.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;

}
.title{
    text-align: center;
    font-family: "Lora", sans-serif;
margin-top: 100px;
}
#comment{
    width: 500px;
    height: 300px;
    display: flex;
    /* text-align: center; */
  /* align-items: center; */
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;

  padding: 10px;
}
.butsend{
    cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}