.contactContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}
.contactTitle {
  text-align: center;
  font-family: "Lora", sans-serif;
  margin-top: 100px;
}
.contactMessage {
  width: 500px;
  height: 300px;
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;

  padding: 10px;
}
.contactButton {
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
