.user{
    flex-direction: row;
    margin: 20px;
   
    display: flex;
   border-radius: 10px;
    border: 2px solid black;
    font-family: "Lora", sans-serif;

}

.userimg {
    border-radius: 50%;
    object-fit: cover;
margin: 5px;


  }
  .username{
margin-left: 20px;
flex: 6;
display: flex;
align-items: center;


  }
  .deliticon{
    flex: 3;
    display: flex;
    align-items: center;



  }