.user {
  margin: 20px;
  width: 250px;
  height: 110px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid grey;
  font-family: "Lora", sans-serif;
}

.userimg {
  border-radius: 10px;
  object-fit: cover;
  margin: 5px;
}
.username {
  margin-left: 20px;
}
.deliticon {
  /* flex: 3; */
}
